*{
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

.headerr{
    height: 3.5rem;
    width: 100vw;
    background-color: rgb(67, 142, 255);
    color: rgb(0, 19, 31);
    
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.headerr.light{
    background-color: black;
    color: rgb(121, 206, 255);
    transition: all 0.4s ease;
}

#logos{
    font-size: 3.5rem;
    color: rgb(17, 12, 0);
    background: -webkit-linear-gradient(right,  rgb(34, 139, 43), rgb(0, 58, 112));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#logos.light{
    background: -webkit-linear-gradient(right,  rgb(253, 183, 156), rgb(255, 253, 253), rgb(136, 197, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#logos2{
    font-size: 3.5rem;
    color: rgb(17, 12, 0);
    background: -webkit-linear-gradient(right,  rgb(104, 29, 0), rgb(0, 58, 112));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#logos2.light{
    background: -webkit-linear-gradient(right,  rgb(253, 183, 156), rgb(255, 253, 253), rgb(136, 197, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.darkLight{
    position: absolute;
    right: 0;
    width: 3.9rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 114, 255);
    color:black;
    transition: all 0.3s ease;
    cursor: pointer;
}
.darkLight:active{
    background-color: rgb(0, 39, 156);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.darkLight.light{
    background-color: rgb(49, 49, 49);
    color: rgb(149, 189, 250);
    
    transition: all 0.3s ease;
}
.darkLight.light:active{
    background-color: rgb(0, 39, 156);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.content1, .content2{
    height: 10rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(118, 173, 255);
    color: black;
    justify-self: center;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 15px 0px rgb(47, 73, 110);
    border:none;
    margin: 2rem;
}
.content1.light:active, .content2.light:active{
    background-color: rgb(7, 35, 77);
    transform: scale(0.98);
    box-shadow: 0 0 5px 0px black;
    border: 3px solid rgb(32, 75, 139);
}
.content1.light, .content2.light{
    background-color: rgb(14, 48, 100);
    color: white;
    box-shadow: 0 0 15px 2px black;
    border: 3px solid rgb(66, 123, 207);
}
.content1:active, .content2:active{
    background-color: rgb(95, 159, 255);
    box-shadow: 0 0 10px 0px rgb(24, 43, 68);
}
.allContent{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 185, 255);
    transition: all 0.4s ease;
}
.allContent.light{
    background-color: rgb(3, 18, 41);
    transition: all 0.4s ease;
    
}
.popupwindow1, .popupwindow2{
    height: 80vh;
    width: 50vw;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 24, 56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 99;
    opacity: 0;
}
.popupwindow1.active, .popupwindow2.active{
    visibility: visible;
    transition: all 0.3s ease;
    opacity: 1;
}
#wtt{
    height: 1.8rem;
    width: 15rem;
    margin: 1rem auto;
    outline: none;
    font-size: 1.2rem;
    border-radius: 3px;
    border: none;
    background-color: rgb(240, 241, 243);
    box-shadow: 0 0 10px 0 rgb(0, 24, 44);
}
#height, #inches{
    height: 1.8rem;
    width: 7rem;
    margin: 1rem auto;
    outline: none;
    font-size: 1.2rem;
    border-radius: 3px;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgb(0, 24, 44);
}
#height:hover, #inches:hover, #wtt:hover{
    border: 2px solid rgb(255, 255, 255);
}
#height:active, #inches:active, #wtt:active{
    border: 2px solid rgb(255, 255, 255);
}
button{
    height: 2.5rem;
    width: 4rem;
    outline: none;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 2rem;
    cursor: pointer;
}
button:active{
    background-color: rgb(165, 164, 164);
}

.closebtn{
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    top: 0;
    right: 0;
    background-color: rgb(148, 0, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-bottom-left-radius: 10px;
}
.closebtn:active{
    background-color: rgb(179, 0, 77);
}

.overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    z-index: 98;
    visibility: hidden;
    transition: all 0.3s ease;
    
}
.overlay.active{
    visibility: visible;
    transition: all 0.3s ease;
    opacity: 0.7;
}
.labels{
    position: absolute;
    left: 32%;
    height: 3rem;
    color: white;
}

#scaleofbmi{
    margin-top: 3.8rem;
    height: 0.8rem;
    width: 100%;
    border: none;
    background: -webkit-linear-gradient(right,  rgb(146, 44, 44), rgb(29, 177, 36), rgb(146, 44, 44));
}
.arooww{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: burlywood;
}

#arrow{
    width: fit-content;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    transition: all 0.3s ease;
}

#seachCon{
    height: 2rem;
    width: 15rem;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(0, 24, 44);
    font-size: 1rem;
    
}

.searchbtn{
    height: 2rem;
    font-size: 1.2rem;
    width: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(0, 24, 44);
}

#dietplan{
    height: 70%;
    width: 90%;
    overflow-y: scroll;
    overflow-wrap: break-word;
    color: rgb(160, 205, 226);
}

@media screen and (max-width:960px){
    .headerr{
        font-size: 1.5rem;
        display: flex;
        justify-content: flex-start;

    }
    .allContent{
        display: flex;
        flex-direction: column;
    }
    .content1, .content2{
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .popupwindow1, .popupwindow2{
        width: 95vw;
    }
    .closebtn:active{
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    button:active{
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .labels{
        position: absolute;
        left: 15%;
        height: 3rem;
        color: white;
    }
}
